*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* ===== Header Section */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    background-color: rgb(7, 109, 7);
    color: white;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    font-family: fantasy;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

ul a{
    color: white;
    text-decoration: none;
}

ul a:hover{
    font-weight: 600;
    text-decoration: underline;
    background-color: darkgrey;
}

main{
    padding: 32px;
}

/* ====== Hero Section ======== */

.hero{
    padding-bottom: 48px;
    padding-top: 64px;
    display: flex;
    background-color: gainsboro;
    border-radius: 20px;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.hero h1{
    font-size: 64px;
}

.hero p{
    font-size: 24px;
}

.danger{
    color: rgb(26, 7, 7);
    text-align: center;
    border-radius: 10px;
    font-size: xx-large;
    color: white;
}
.danger-content{
    font-size: large;
    justify-content: center;
    margin-top: 16px;
    line-height: 1.6;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
}
ul{
    display: flex;
    list-style: circle;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
    color: white;
    margin-bottom: 60px;
}
.alt{
    color: rgb(1, 14, 1);
    text-align: center;

}
.prelude{
    font-size: 20px;
    justify-content: center;
    text-align: left;
    color: rgb(7, 39, 7);
}
.option{
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 16px;
    color: rgb(7, 39, 7);
}